---
AccessModifierOffset: '-4'
AlignTrailingComments: 'false'
AllowShortFunctionsOnASingleLine: Empty
BreakBeforeBraces: Allman
ColumnLimit: '180'
IndentCaseLabels: 'true'
IndentWidth: '4'
NamespaceIndentation: All
PointerAlignment: Left
SortUsingDeclarations: 'false'
SpaceInEmptyParentheses: 'false'
SpacesBeforeTrailingComments: '1'
TabWidth: '4'
UseTab: Always

...